<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<ul>
		<li><a href="/">toHome</a></li>
		<li><a href="/question/gotoquestion">질문하기</a></li>
		
		{{^loginUser}}
		<li><a href="/users/gotojoin">회원가입</a></li>
		<li><a href="/users/gotologin">로그인</a></li>
		{{/loginUser}}
		
		{{#loginUser}}
		<li><a href="/users/logout">로그아웃</a></li>
		<li><a href="/users/{{id}}/gotoupdate">개인정보수정</a></li>
		{{/loginUser}}
		</ul>
	</div>
</body>
</html>